
.readDoc{
background-color: blue;
color: white;
border-radius: 20px;
text-align: center;
align-self: center;
margin-left: 50px;
}
.head{
 color: orange;
 align-self: center;
 font-weight: bold;
 font-style: italic;
}
.text{
 color: white;
 font-weight: bold;
 
}
.text-2{
 color: red;
 font-weight: bold;
}
 
